<!DOCTYPE html>
<head>
    <title>
        Tweet | Greenweb
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav class="navbar navbar-light bg-success py-3">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/static/GreenWeb Logo.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
            GreenWeb
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </nav>
      
    <div class="card w-75 mx-auto bg-light my-3">
        <div class="card-header">
          Welcome to GreenWeb!
        </div>
        <div class="card-body">
            <h5 class="card-title">Get Started</h5>
            <p class="card-text">Choose an social medium below to authenticate with and get started offsetting your carbon footprint!</p>
        </div>
    </div>

    
    <form class="mx-auto py-3 w-50" action="{{ url_for('tweet') }}" method="post">
        <div class="form-floating">
            {% if score <= 0 %}
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="tweet" style="height: 200px"></textarea>
            <label for="floatingTextarea">Type your tweet here...</label>
            <button class="btn btn-primary my-3" type="submit">Submit</button>
            {% else %}
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" name="tweet" style="height: 200px" disabled></textarea>
            <label for="floatingTextarea">You cannot tweet if your footprint is positive!</label>
            <button class="btn btn-primary my-3" type="submit" disabled>Submit</button>
            {% endif %}
        </div>
    </form>
        
    
</body>


